# --- System Files ---
desktop.ini
Thumbs.db
.DS_Store
git

# --- Local Tools & Binaries ---
*.exe
ngrok.exe
ngrok

# --- Environment Variables (สำคัญมาก ห้ามลบ) ---
.env



# --- Python ---
__pycache__/
*.py[cod]
venv/
env/